.App {
  /* font-family: sans-serif;
  text-align: center; */
  background-color: #E5E5E5;
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Mulish-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Mulish-SemiBold.ttf");
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */