.App {
  /* font-family: sans-serif;
  text-align: center; */
  background-color: #E5E5E5;
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Mulish-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/Mulish-SemiBold.ttf");
}

::placeholder {
  color: lightgray !important;
}

.datepicker-form {
  border: none ;
  width: 100%;
  cursor: pointer;
}

/* .react-datepicker__header {
  background-color: white;
  border-bottom: 0px;
} */

.react-datepicker__header {
  background-color: white !important;
  border-bottom: 0px !important;

}

/* .react-datepicker__today-button {

}

.react-datepicker {

} */

.react-datepicker__day-name{
  font-weight: bold !important;
  color: lightgray !important;
}  

.popover {
  width: 100%;
}
